{{!--Formulário--}}

<form class="bg-white col-xl-6 mt-5 mx-auto p-3 rounded shadow" action="">
     <div class="col-xl-6 container">
          <img class="d-block img my-5 mx-auto" src="/images/avatarUser.png" alt="" width="120">
          <input class="form-control mb-2" type="text" placeholder="Nome">
          <input class="form-control mb-2" type="number" placeholder="Idade">
          <input class="btn btn-primary mt-3" type="submit" value="Cadastrar usuário">
     </div>
</form>

<table class="bg-white col-xl-6 container mt-5 mx-auto rounded shadow table table-striped">
     <thead>
          <tr>
               <th class="text-center">Nome</th>
               <th class="text-center">Idade</th>
               <th class="text-center">Selecionar</th>
          </tr>
     </thead>

     <tbody>
          <tr>
               <td class="text-center">Daniel Vitorio</td>
               <td class="text-center">43</td>
               <td class="text-center">dvitorio2@gmail.com</td>
          </tr>
          <tr>
               <td class="text-center">Rafael Alves</td>
               <td class="text-center">3</td>
               <td class="text-center">rafinha2019@gmail.com</td>
          </tr>
          <tr>
               <td class="text-center">Ana Laura Alves</td>
               <td class="text-center">2</td>
               <td class="text-center">analaura2020@gmail.com</td>
          </tr>
     </tbody>

</table>